<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
</head>
<body>
<div dir="auto">
    <div>
        <div class="gmail_quote">
            <div dir="ltr"><span style="font-family:verdana,sans-serif;font-size:12.8px">Sawasdee ka,</span><br></div>
            <div dir="auto">
                <div class="gmail_quote" dir="auto">
                    <div dir="ltr">
                        <div class="gmail_quote">
                            <div dir="ltr">
                                <div class="gmail_quote">
                                    <div dir="ltr"><font face="verdana, sans-serif" style="font-size:12.8px"><span
                                            class="m_-1799085627644638270m_6740745182866028984m_2232795282358187343m_-1725327093098685830m_366775289497093652m_-898181421689813725gmail-im"
                                            style="color:rgb(80,0,80)"><span
                                            class="m_-1799085627644638270m_6740745182866028984m_2232795282358187343m_-1725327093098685830m_366775289497093652m_-898181421689813725gmail-m_-8256166527697693496m_8890913374374162074gmail-im"><div
                                            style="color:rgb(34,34,34)"><br>Thank you for choosing Hom.</div><div
                                            style="color:rgb(34,34,34)"><br></div><div style="color:rgb(34,34,34)">We wish to welcome you soon.&nbsp;</div><div
                                            style="color:rgb(34,34,34)">We have attached direction guideline and the explanation of Hom cooking club within this email.</div></span><div
                                            style="color:rgb(34,34,34)"><b>Please be noted between 10pm to 1030am, Nanasquare main door is closed please use elevator in basement 2 of parking lot&nbsp;</b></div><div
                                            style="color:rgb(34,34,34)"><b>(entrance on the left side of Burger King)</b></div></span><span
                                            class="m_-1799085627644638270m_6740745182866028984m_2232795282358187343m_-1725327093098685830m_366775289497093652m_-898181421689813725gmail-m_-8256166527697693496m_8890913374374162074gmail-im"><span
                                            class="m_-1799085627644638270m_6740745182866028984m_2232795282358187343m_-1725327093098685830m_366775289497093652m_-898181421689813725gmail-im"
                                            style="color:rgb(80,0,80)"><div style="color:rgb(34,34,34)" dir="auto"><br></div><div
                                            dir="auto"><b><font color="#ff0000">Dont forget that we have free of charge "Cooking Demo" everyday, see the board for demo of the day and sign your name.</font></b></div><div
                                            dir="auto"><b><font color="#ff0000"><br></font></b></div><div dir="auto"><b><font
                                            color="#ff0000"><br></font></b></div><div dir="auto"><b><font
                                            color="#ff0000">If you wanna have private cooking class, please book one day in advance. its 1500 THB per person for 2 recipes, choose the menu here <a
                                            href="https://www.homcookinghostel.com/cookingclass" rel="noreferrer"
                                            target="_blank"
                                            data-saferedirecturl="https://www.google.com/url?q=https://www.homcookinghostel.com/cookingclass&amp;source=gmail&amp;ust=1551874722664000&amp;usg=AFQjCNHFzwqlwfVn4S6dfuPq_75HiY7Pog">https://www.homcookinghostel.<wbr>com/cookingclass</a></font></b><br></div><div
                                            dir="auto"><b><font color="#ff0000"><br></font></b></div><div
                                            style="color:rgb(34,34,34)" dir="auto"><br></div><div
                                            style="color:rgb(34,34,34)" dir="auto">If you wanna get to know us more before your arrival.</div><div
                                            style="color:rgb(34,34,34)" dir="auto">You can follow us in&nbsp;</div><div
                                            style="color:rgb(34,34,34)" dir="auto"><b>Facebook page</b>&nbsp;: hom hostel &amp; cooking club&nbsp;</div><div
                                            style="color:rgb(34,34,34)" dir="auto"><b>Instagram</b>&nbsp;: Homcookinghostel</div><div
                                            style="color:rgb(34,34,34)" dir="auto"><b>Youtube :&nbsp;</b>hom hostel &amp; cooking club</div></span></span></font><font
                                            face="verdana, sans-serif" style="font-size:12.8px"><span
                                            class="m_-1799085627644638270m_6740745182866028984m_2232795282358187343m_-1725327093098685830m_366775289497093652m_-898181421689813725gmail-m_-8256166527697693496m_8890913374374162074gmail-im"><span
                                            class="m_-1799085627644638270m_6740745182866028984m_2232795282358187343m_-1725327093098685830m_366775289497093652m_-898181421689813725gmail-im"
                                            style="color:rgb(80,0,80)"><div
                                            style="color:rgb(34,34,34)"><br></div></span><div
                                            style="color:rgb(34,34,34)"><b>HOW TO GET TO HOM? (Google Map : Homcookinghostel)</b></div><div
                                            style="color:rgb(34,34,34)"><b>From Suvannabhumi airport</b>&nbsp;: Take Airport train to Phayathai then switch to BTS Skytrain to Nana Station, Walk to Corner of Main Sukhumvit road and Sukhumvit 3. We are on 4th floor of Nanasquare (more detail at attached HOM direction sheet).</div><div
                                            style="color:rgb(34,34,34)"><b style="font-size:12.8px">From Don Mueng airport</b><span
                                            style="font-size:12.8px">&nbsp;: Take Airport bus A1 to Mo Chit BTS Station. then take BTS Skytrain to&nbsp;</span><span
                                            style="font-size:12.8px">Nana Station, Walk to Corner of Main Sukhumvit road and Sukhumvit 3. We are on 4th floor of Nanasquare (more detail at attached HOM direction sheet).</span><br></div><div
                                            style="color:rgb(34,34,34)"><span style="font-size:12.8px"><br></span></div><div><span
                                            style="font-size:12.8px;background-color:rgb(255,255,255)"><font
                                            color="#ff0000">*** IF you plan to use taxi, its better to use Grab during high season***</font></span></div><div
                                            style="color:rgb(34,34,34)"><span style="font-size:12.8px"><br></span></div><div
                                            style="color:rgb(34,34,34)"><div
                                            style="font-family:arial,sans-serif;font-size:12.8px"><font
                                            face="verdana, sans-serif">Have a great day :)</font></div><div
                                            style="font-family:arial,sans-serif;font-size:12.8px"><font
                                            face="verdana, sans-serif"><br>Warm regards,</font></div><div
                                            style="font-family:arial,sans-serif;font-size:12.8px"><font
                                            face="verdana, sans-serif">Toon</font></div><div
                                            style="font-family:arial,sans-serif;font-size:12.8px"><font
                                            face="verdana, sans-serif"><br></font></div><div
                                            style="font-family:arial,sans-serif;font-size:12.8px"><p
                                            style="margin-top:0pt;margin-bottom:0pt;margin-left:0in;direction:ltr;unicode-bidi:embed;word-break:normal"><span
                                            style="color:rgb(84,130,53)"><font face="verdana, sans-serif"><b>HOM</b>&nbsp;: The one &amp; only hostel with home kitchen studio.&nbsp;</font></span></p><p
                                            style="margin-top:0pt;margin-bottom:0pt;margin-left:0in;direction:ltr;unicode-bidi:embed;word-break:normal"><span
                                            style="color:rgb(84,130,53)"><font face="verdana, sans-serif">Where you can stay in the midst of the city,&nbsp;</font></span></p><p
                                            style="margin-top:0pt;margin-bottom:0pt;margin-left:0in;direction:ltr;unicode-bidi:embed;word-break:normal"><span
                                            style="color:rgb(84,130,53)"><font face="verdana, sans-serif">learn how to cook Thai foods,&nbsp;</font></span></p><p
                                            style="margin-top:0pt;margin-bottom:0pt;margin-left:0in;direction:ltr;unicode-bidi:embed;word-break:normal"><span
                                            style="color:rgb(84,130,53)"><font face="verdana, sans-serif">share your recipes and make new friends.</font></span></p></div></div></span></font><font
                                            face="verdana, sans-serif" style="font-size:12.8px"><span
                                            class="m_-1799085627644638270m_6740745182866028984m_2232795282358187343m_-1725327093098685830m_366775289497093652m_-898181421689813725gmail-m_-8256166527697693496m_8890913374374162074gmail-im"
                                            style="color:rgb(80,0,80)"><br
                                            class="m_-1799085627644638270m_6740745182866028984m_2232795282358187343m_-1725327093098685830m_366775289497093652m_-898181421689813725gmail-Apple-interchange-newline"></span></font>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>